<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd"
>

    <context:property-placeholder location="classpath:jdbc.properties"/>

    <context:component-scan base-package="com.wind.spring"/>



    <!-- spring自动注入 -->
    <bean id="userbean" class="com.wind.spring.bean.UserBean" autowire="byType">
        <property name="person" ref="number"/>
    </bean>

    <bean id="springjdbctest" class="com.wind.spring.spring.springjdbc.JdbcTemplateTest"/>

    <!-- 配置c3p0数据库连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!-- c3p0连接池的私有属性 -->
        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="10"/>
        <!-- 关闭连接后不自动commit -->
        <property name="autoCommitOnClose" value="false"/>
        <!-- 获取连接超时时间 -->
        <property name="checkoutTimeout" value="10000"/>
        <!-- 当获取连接失败重试次数 -->
        <property name="acquireRetryAttempts" value="2"/>
    </bean>
    <!-- spring jdbc -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>


    <!-- spring bean 的学习  -->
    <!-- 学习网站https://www.imooc.com/video/3665 -->

    <!-- lazy-init 默认为false 只对singleton有效，默认false，为true时，在类使用时才创建 -->
    <!-- init-method  在对象创建时，执行这个方法-->
    <!-- destroy-method 在对象销毁时，执行这个方法 -->
    <bean id="number" class="com.wind.spring.bean.Person"
          scope="singleton" lazy-init="true" init-method="print"
          destroy-method="print"/>

</beans>