<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd"
>

    <context:component-scan base-package="com.wind.spring.springbean"/>

    <!-- springbean bean 的学习  -->
    <!-- 学习网站https://www.imooc.com/video/3665 -->
    <!-- 笔记 https://github.com/987625922/springlearn-->

    <!-- 第一课 -->
    <bean id="userbean" class="com.wind.spring.bean.UserBean">
        <!-- 设值注入 -->
        <property name="book" ref="book"/>
        <!-- 构造器注入-->
        <constructor-arg name="beanName" value="这个是bean的名称"/>
    </bean>
    <!-- lazy-init 默认为false 只对singleton有效，默认false，为true时，在类使用时才创建 -->
    <!-- init-method  在对象创建时，执行这个方法-->
    <!-- destroy-method 在对象销毁时，执行这个方法 -->
    <bean id="person" class="com.wind.spring.bean.Person"
          scope="singleton" init-method="init"
          destroy-method="destroy"/>

    <bean id="book" class="com.wind.spring.bean.Book"/>

    <!-- 第二 -->
    <!-- aware -->
    <bean id="moocApplicationContext" class="com.wind.spring.springbean.aware.MoocApplicationContext"/>
    <bean id="moocBeanName" class="com.wind.spring.springbean.aware.MoocBeanName"/>

    <!-- 第三 bean的自动装配-->
    <!-- 在xml头添加default-autowire="byName" 或者在bean中配置autowire="constructor" -->
    <bean id="autobean" class="com.wind.spring.bean.AutoWiringBean" autowire="constructor"/>

    <!-- 第四 Resources -->
    <bean id="learnresource" class="com.wind.spring.springbean.resource.LearnResource"/>

    <!-- 第五 Bean管理的注解实现及例子 -->
    <!-- 使用过滤器进行自定义扫描 -->


</beans>