<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context
			https://www.springframework.org/schema/context/spring-context.xsd">

    <!--        shiro              -->
    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userShiroRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!-- 自定义域 -->
    <bean id="userShiroRealm" class="com.wind.spring.springshiro.project.config.CustomRealm">
        <property name="credentialsMatcher" ref="hashedCredentialsMatcher"/>
    </bean>

    <!-- 自定义凭证(密码)匹配器 -->
    <bean id="hashedCredentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="2"/>
    </bean>

    <!-- session管理器 -->
    <!--在shiro的DefaultWebSessionManager类中，默认Cookie名称是JSESSIONID，这样的话与servlet容器名冲突,
    如jetty, tomcat等默认JSESSIONID, 当跳出shiro servlet时如error-page容器会为JSESSIONID重新分配值导致登录会话丢失!-->
    <bean id="sessionManager" class="com.wind.spring.springshiro.project.config.CustomSessionManager">
        <property name="sessionIdCookie" ref="simpleCookie"/>
    </bean>
    <bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg name="name" value="shiro.sesssion"/>
        <property name="path" value="/"/>
    </bean>

    <!-- Shiro的web过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--//必须设置securityManager-->
        <property name="securityManager" ref="securityManager"/>
        <!--//需要登录的接口，如果访问某个接口，需要登录却没登录，则调用此接口(如果不是前后端分离，则跳转页面)-->
<!--        <property name="loginUrl" value="/api/pub/need_login"/>-->
        <!--//登录成功，跳转url，如果前后端分离，则没这个调用-->
        <property name="successUrl" value="/"/>
        <!--//没有权限，未授权就会调用此方法， 先验证登录-》再验证是否有权限-->
        <property name="unauthorizedUrl" value="/api/shiro/not_permit"/>
        <property name="filterChainDefinitions">
            <value>
                <!--//退出过滤器-->
                /logout = logout
                <!-- //匿名可以访问，也是就游客模式 -->
                /** = anon
                <!-- //登录用户才可以访问 -->
<!--                /api/authc/** = authc-->
                <!-- //管理员角色才可以访问 -->
                /api/shiro/admin = roles[admin]
                <!-- //有编辑权限才可以访问 -->
<!--                /api/video/update = perms[video_update]-->
                <!--//坑二: 过滤链是顺序执行，从上而下，一般讲/** 放到最下面-->
                <!--//authc : url定义必须通过认证才可以访问-->
                <!--//anon  : url可以匿名访问-->
            </value>
        </property>
    </bean>


</beans>